.heading {
  font-size: 2rem;
  color: var(--primary-color);
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  gap: 2.4rem;
  letter-spacing: 1px;
  line-height: 1.2;
  font-family: "Arial", sans-serif;
  transition: color 0.3s ease;
}
